/*range:EE872A
Green:8AC007
Lightgreen:e5eecc
Blue:40B3DF
DarkGreyBg:555555
LightGreyBg:F6F4F0
GreyBorder:D4D4D4
Pink:B4009E
*/
html {overflow-y:scroll;height:100%}

body {font-size:13px;color:#000000;color:#404040;
background-color:#F6F4F0;margin:0px;height:100%}

p,td,ul {
line-height:130%;
}

body,p,h1,h2,h3,h4,table,td,th,ul,ol,textarea,input {
font-family:verdana,helvetica,arial,sans-serif;
}

iframe{margin:0px;}
img {border:0;}
table,th,td,input,textarea {
font-size:100%;
}

h1 {font-size:28px;margin-top:0px;font-weight:normal}
h2 {font-size:22px;margin-top:10px;margin-bottom:10px;font-weight:normal}
h3 {font-size:17px;font-weight:normal}
h4 {font-size:12px;}
h5 {font-size:11px;}
h6 {font-size:10px;}

h1,h2,h3,h4,h5,h6 {
background-color:transparent;color:#000000;
}

#mainHeader {font-family:Audiowide; text-align: center ; color:rgb(96,168,3);}

#infoBanner {box-shadow: 0px 0px 20px 3px #d3d3d3;border-radius:4px;background-color:#DADADA}
#infoBanner_data{text-align:center;font-size:20px;position:relative;color:#1E8F0E}

.nav{width:100%;line-height:0.1;box-shadow: 0px 0px 20px 3px #d3d3d3;border-radius:4px;background-color:#DADADA;}


div.panel {float:left;height:100%;width:100%}
.tabs dd > a{
    background:none;
}
.subtab{
background-color:rgba(0, 0, 0, 0.08) ; padding:0;
}

#log_nav{
    padding:0;
}
#viz_nav{
    padding:0;
}

#archive_nav{
    padding:0;
}
#about_nav{
    padding:0;
}
#team_panel{
    overflow:visible;
    background:none;
    text-align:center;
}
#welcome_panel{
    overflow:visible;
    background:none;
    text-align:center;
}
h3{
    font-family:Audiowide;
}
.logs {background-color:#DADADA;overflow-y:scroll}
//#svg_panel {overflow:scroll}
//#svgElement {overflow:scroll}
#testViz {height:100%}

#sharedMem_panel {overflow-y:scroll;height:100%}
#sharedMem_output {padding-left:20px}


#searchSection {height:60px;margin-right:0px;margin-top:5px;text-align:left;}

#searchText {color:#777777;font-size:11px;font-style:italic;padding-top:3px;}

#translateSection {height:30px;}

#topnav {height:25px;background-color:#d3d3d3;}

#topnavTut {height:20px;width:1190px;margin:auto;word-spacing:12px;font-size:12px;padding-left:10px;padding-right:20px;padding-top:5px;background-color:#d3d3d3;}

a.topnav:link,a.topnav:visited {color:#555555;text-decoration:none;}
a.topnav:hover,a.topnav:active {color:#ff4800;text-decoration:none;}

#topnavSpace {margin-left:290px;}

#belowTopnav {width:1220px;margin:auto;}

#page {position:relative;width:95%;height:100%;float:left;margin-left:10px;margin-top:10px;padding-top:20px;padding-bottom:20px;box-shadow: 0px 0px 20px 3px #d3d3d3;border-radius:4px;background-color:#ffffff;}

#leftcolumn {width:100px;float:left;margin-right:4px;}

#leftcolumn h2 {font-size:16px;font-weight:normal;color:#8AC007;}

#leftcolumn hr {color:#e5eecc;background-color:#e5eecc;margin-right:20px;}

#leftcolumn a:link,#leftcolumn a:visited,#leftcolumn a:hover,#leftcolumn a:active {
display:block;font-size:13px;padding-bottom:4px;background-color:#ffffff;color:#555555;color:#404040;text-decoration:none;
}
#leftcolumn a:hover,#leftcolumn a:active {
background-color:#ffffff;color:#000000;text-decoration:underline;
}

#main {width:100%;height:100%;padding-top:10px;top:65px;position:relative}

#logo {float:left;margin-left:20px;margin-top:5px}
#webfront_name {float:left;margin-left:31%}
#outputarea {height:33rem;width:100%;}


